<?xml version="1.0"?>

<model>
  <name>b_thin_spatula</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Frank Guerin, Pawel Gajewski, Paulo A. Ferreira and Wang Chaozheng</name>
    <email>bryanwang1992@outlook.com</email>
  </author>

  <description>
    b_thin_spatula
  </description>

</model>
