<launch>
  <node pkg="skill_transfer" type="constraint_controller_pr2" name="constraint_controller" output="screen" if="$(arg pr2)"/>
  <node pkg="skill_transfer" type="constraint_controller_free_ees" name="constraint_controller" output="screen" unless="$(arg pr2)"/>
  
  <node pkg="skill_transfer" type="task_executive" name="task_executive" output="screen">
    <param name="task_file" type="string" value="$(find skill_transfer)/tasks/scooping_grains.yaml" />
    <param name="motion_directory" type="string" value="$(find skill_transfer)/motions/" unless="$(arg pr2)" />
    <param name="motiom_template_file_path" type="string" value="$(find skill_transfer)/motion_templates/pr2.yaml" if="$(arg pr2)"/>
    <param name="motiom_template_file_path" type="string" value="$(find skill_transfer)/motion_templates/free_ees.yaml" unless="$(arg pr2)"/>
  </node>
<!--  <node pkg="tf" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0 world base_link 100"/>-->
</launch>
