<?xml version="1.0"?>

<model>
    <name>b_coffe_cup</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>

    <author>
        <name>Pawel Gajewski</name>
        <email>pawel.gajewski@agh.edu.pl</email>
    </author>

    <description>
        IAI lab coffe cup.
    </description>
</model>
